# Node
node_modules/
dist/
.env
migrations

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# macOS
.DS_Store

# Docker
docker-compose.override.yml
/src/generated/prisma
